<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet", href="../bower_components/bootstrap-css/css/bootstrap.min.css")
	link(rel="stylesheet", href="../bower_components/slick-carousel/slick/slick.css")
	link(rel="stylesheet", href="../bower_components/slick-carousel/slick/slick-theme.css")
	link(rel="stylesheet", href="css/style.css")
body
	.container-fluid
		h1.text-center Sync carousel
		.single-item
			.carousel-item.first-item

			.carousel-item.second-item

			.carousel-item.third-item

			.carousel-item.fourth-item

			.carousel-item.fifth-item


		.items-carousel
			.items.first-item
			.items.second-item
			.items.third-item
			.items.fourth-item
			.items.fifth-item

	script(src="../bower_components/jquery/dist/jquery.js")
	script(src="../bower_components/bootstrap-css/js/bootstrap.min.js")
	script(src="../bower_components/slick-carousel/slick/slick.js")
	script(src="js/main.js")
		